docker/nodered/flows.json
[{"id":"494e7c351356e02a","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"694fbd7ab665a50e","type":"mqtt-broker","name":"","broker":"mosquitto","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"be8237ab93344a9a","type":"influxdb","hostname":"127.0.0.1","port":8086,"protocol":"http","database":"database","name":"Sensors","usetls":false,"tls":"","influxdbVersion":"2.0","url":"$(INFLUXDB_URL)","timeout":10,"rejectUnauthorized":false},{"id":"7e7a68b021c2ed49","type":"mqtt in","z":"494e7c351356e02a","name":"growgrid/telemetry","topic":"growgrid/telemetry/+","qos":"1","datatype":"auto-detect","broker":"694fbd7ab665a50e","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":100,"wires":[["b9766fb0d3466cc2"]]},{"id":"1d5b631035113d9d","type":"influxdb out","z":"494e7c351356e02a","influxdb":"be8237ab93344a9a","name":"Sensors Influx","measurement":"sensors","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"$(INFLUXDB_ORG)","bucket":"$(INFLUXDB_BUCKET)","x":720,"y":100,"wires":[]},{"id":"91b2134623cf51c1","type":"debug","z":"494e7c351356e02a","name":"mqtt debug [out]","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":200,"wires":[]},{"id":"b9766fb0d3466cc2","type":"function","z":"494e7c351356e02a","name":"clean data","func":"let value = msg.payload;\n\nlet topicParts = msg.topic.split('/');\nlet fieldName = topicParts[topicParts.length - 1];\n\nmsg.measurement = \"telemetry\";\nmsg.payload = {};\nmsg.payload[fieldName] = value;\nmsg.tags = {\n    sensor: fieldName\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":100,"wires":[["91b2134623cf51c1","1d5b631035113d9d"]]}]
